    

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display&display=swap');

/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Playfair Display', serif;
*/

body {
    background-image: url(https://cdn.discordapp.com/attachments/709585158348734474/1155946283928920215/Floralpack_BlackEyedSusans.png?ex=651b175e&is=6519c5de&hm=e97e389c2cdef3c7ae48120b16e48efd62418fe8378d22fd61d71f411f5eb6b6&);
    font-family: 'Playfair Display', serif;
} 
div 
    {background-color: rgba(255, 255, 245, 0.77);
    width: 80%;
    margin:auto;
    padding:60px;}
h1,h2,h3,h4 {
    font-family: 'Archivo Black', sans-serif;
}