@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
/*font-family: 'Nunito', sans-serif;*/
body {
    margin: 0;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
}
p:first-of-type {
    text-indent: 0;
}
h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 75px;
    color: rgb(227, 104, 73);
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
}
h2{
    font-family: 'Nunito', sans-serif;
    font-size: 75px;
    color: rgb(100, 70, 186);
    margin: 0;
    text-align: right;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: rgb(100, 70, 186);
    margin: 0;
    padding-left: 500px;
    padding-top: 18px;
    padding-bottom: 3px;
}
.leftp {
    padding-left: 200pt;
    padding-right: 300pt;
    text-indent: 15pt;
}
.rightp {
    padding-left: 300pt;
    padding-right: 200pt;
    text-indent: 15pt;
}
.left {
    padding-bottom: 75px;
    padding-top: 50px;
}
.right {
    background-color: rgb(254, 220, 142);
    padding-top: 50px;
    padding-bottom: 75px;
}
footer {
    background-color: rgb(254, 220, 142);
    margin-top: 100px;
    padding: 10px;
    display: flex;
}
.botbot {
background-color: rgb(39, 185, 185);
padding: 0;
margin-bottom: 100px;
position: relative;
}
.hee {
    width: 50%;
    padding-left: 25vw;
}
.she {
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.we {
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
}
.uppies{
    background-color:  rgb(39, 185, 185) ;
    width: 100%;
    margin-top: -50px;
}
iframe {
    width: 70%;
    height: 500px;
    padding-left: 15vw;
}
img {
   width: 100%; 
   margin: 0;
}
.o {
    width: 100px;
    padding-left: 60vw;
}
.botlog {
    width: 100px;
    margin-right: 1vw;
}
.uphere {
    position: relative;
}
.logoup {
    width: 230px;
    position: absolute;
    left: 3vw;
    top: 3vh;
}
.snake {
    width: 200px;
    position: absolute;
    right: 12vw;
    top: 100px;
}
.snakebake {
position: relative;
}
.birdup {
    position: relative;
}
.bird {
    position: absolute;
    width: 200px;
    top: 100px;
    right: 12vw;
}
.rattrap {
    position: relative;
}
.rat {
    width: 150px;
    position: absolute;
    top: 100px;
right: 12vw;
}
